DB_HOST=localhost
DB_PORT=3306
DB_NAME=omniscience
DB_USERNAME=admin
DB_PASSWORD=admin

SMS_GATEWAY_URL=https://smsgateway.omniscience.co.mz
SMS_TOPIC=attendance

ATTENDANCE_REPORT_SCHEDULE=0 8 * * 6
